test/*
datasets/*
coco.yaml
model.png
runs/detect/predict/*
runs/detect/predict2/*
runs/detect/predict3/*
runs/detect/predict4/*
runs/detect/predict5/*
runs/detect/train/*
runs/detect/train2/*
runs/detect/train3/*
runs/detect/train4/*
runs/detect/train5/*
runs/detect/val/*
runs/detect/val2/*
runs/detect/val3/*
runs/detect/val4/*
